[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
requests = "*"
numpy = "*"
ipykernel = "*"
matplotlib = "*"
scikit-learn = "*"
sqlalchemy = "*"
pymysql = "*"
flask = "*"
flask_wtf = "*"
aiofiles = "*"
fastapi = "*"
Jinja2 = "*"
uvicorn = "*"
pystan = "==2.19.1.1"
fbprophet = "*"
statsmodels = "*"
plotly = "*"
streamlit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
