{% extends "layout.html" %}
{% block content %}
<section class="home">
</section>
<div class='bodyDiv mx-5' style="container-fluid">
    <div class='container mt-5'>
        <div class='row'>
            <div class='col-sm'>
                <div class="card">
                    <div class="card-header cardH3">
                      Cases
                    </div>
                    <div class="card-body">
                      <h5 class="card-title cardP">{{ "{:,.0f}".format(cases) }}</h5>
                    </div>
                  </div>
            </div>
            <div class='col-sm'>
                <div class="card">
                    <div class="card-header cardH3">
                      Recoveries
                    </div>
                    <div class="card-body">
                      <h5 class="card-title cardP">{{ "{:,.0f}".format(recoveries) }}</h5>
                    </div>
                  </div>
            </div>
            <div class='col-sm'>
                <div class="card">
                    <div class="card-header cardH3">
                      Deaths
                    </div>
                    <div class="card-body">
                      <h5 class="card-title cardP">{{ "{:,.0f}".format(deaths) }}</h5>
                    </div>
                  </div>
            </div>
        </div>
    </div>>
</div>
<div class='container-fluid'>
  <div class="row justify-content-md-center">
    <form class ='form-inline' action='/' method="POST">
      <div class="form-group mx-5 my-3">
        <label for="exampleFormControlSelect1">Query Type</label>
        <select class="form-control form-control-lg" id="exampleFormControlSelect1" name="qtype">
          <option>Cases</option>
          <option>Deaths</option>
        </select>
      </div>
      <div class="form-group mx-5 my-3">
        <label for="exampleFormControlSelect1">Prediction Duration</label>
        <select class="form-control form-control-lg" id="exampleFormControlSelect1" name="duration">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
        </select>
      </div>
      <div class="form-group mx-5 my-3">
        <label for="exampleFormControlSelect1">Region</label>
        <select class="form-control form-control-lg" id="exampleFormControlSelect1" name="region">
          <option>USA</option>
          <option>Alabama</option>
          <option>Alaska</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Colorado</option>
          <option>Connecticut</option>
          <option>Delaware</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Hawaii</option>
          <option>Idaho</option>
          <option>Illinois</option>
          <option>Indiana</option>
          <option>Iowa</option>
          <option>Kansas</option>
          <option>Kentucky</option>
          <option>Louisiana</option>
          <option>Maine</option>
          <option>Maryland</option>
          <option>Massachusetts</option>
          <option>Michigan</option>
          <option>Minnesota</option>
          <option>Mississippi</option>
          <option>Missouri</option>
          <option>MOntana</option>
          <option>Nebraska</option>
          <option>Nevada</option>
          <option>New Hampshire</option>
          <option>New Jersey</option>
          <option>New Mexico</option>
          <option>New York</option>
          <option>North Carolina</option>
          <option>North Dakota</option>
          <option>Ohio</option>
          <option>Oklahoma</option>
          <option>Oregon</option>
          <option>Pennsylvania</option>
          <option>Rhode Island</option>
          <option>South Carolina</option>
          <option>South Dakota</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option>Utah</option>
          <option>Vermont</option>
          <option>Virginia</option>
          <option>Washington</option>
          <option>West Virginia</option>
          <option>Wisconsin</option>
          <option>Wyoming</option>
        </select>
      </div>
      <div class="form-group mx-5 my-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}