{% extends "layout.html" %}
{% block content %}
<section class="home">
</section>
<div class='bodyDiv mx-5' style="container-fluid">
    <div class='container mt-5'>
        <div class='row'>
            <div class='col-sm'>
                <div class="card">
                    <div class="card-header cardH3">
                      Cases
                    </div>
                    <div class="card-body">
                      <h5 class="card-title cardP">{{ cases }}</h5>
                    </div>
                  </div>
            </div>
            <div class='col-sm'>
                <div class="card">
                    <div class="card-header cardH3">
                      Recoveries
                    </div>
                    <div class="card-body">
                      <h5 class="card-title cardP">{{ recoveries }}</h5>
                    </div>
                  </div>
            </div>
            <div class='col-sm'>
                <div class="card">
                    <div class="card-header cardH3">
                      Deaths
                    </div>
                    <div class="card-body">
                      <h5 class="card-title cardP">{{ deaths }}</h5>
                    </div>
                  </div>
            </div>
        </div>
    </div>>
</div>
{% endblock %}